.inputcontent {
  position: relative;
  width: 35rem;
  border: 0;
  outline: none;
}

.input {
  width: 33rem;
  border: 1px solid #ccd5e3;
  border-radius: 8px;
  padding: 18px 15px;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}

.eyeIcon {
  position: absolute;
  right: 15px;
  top: 18px;
  border: none;
  background: none;
}

.inputError {
  border: 1.5px solid #ff5b56;
}

.error {
  margin-top: 5px;
  color: #ff5b56;
}

.input:focus-visible {
  border: 1.5px solid #6d6afe;
  outline: none;
}
