.header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light-blue);
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 20rem;
  max-width: 1920px;
}

.logo-area {
  display: flex;
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profileGroup {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 5rem;
}

.profile {
  border-radius: 50%;
}

.email {
  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
}

.signin {
  flex-shrink: 0;
  width: 128px;
  display: flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;

  border-radius: 8px;
  background: var(
    --Linkbrary-gradation,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}

@media (max-width: 1199px) {
  .header-group {
    padding: 2rem 3.2rem;
    max-width: 80rem;
  }
}

@media (max-width: 767px) {
  .header-group {
    padding: 1.3rem 3.2rem;
  }

  .user-email {
    display: none;
  }

  .logo-img {
    width: 8.867rem;
    height: 1.6rem;
  }

  .header-group .btn {
    width: 8rem;
    height: 3.7rem;
    line-height: 3.7rem;
    font-size: 1.4rem;
  }
}
